$theme-colors: (
  "primary": #11a0ba,
);

// $theme-colors: (
//   "primary":  #3F51B5  ,
//   "secondary":  #81C784,
//   "success":   #69F0AE,
//   "info":       #E91E63,
//   "warning":   #D500F9,
//   "danger":     #FFCCBC,
//   "light":      #37474F,
//   "dark":      #78909C
// );

@import '../node_modules/bootstrap/scss/bootstrap.scss';


.card-header {
  font-weight: bold;
}
//add style for modules/components/MethodeSelect/MethodeSelectCard.js
.selectCard:hover {
  border-color: #11a0ba;
}

.inactive .bs-stepper-label{
  color: rgba(108,75,125,0.6);
}

.inactive .bs-stepper-circle{
  background-color: #6c757d;
}

.done .bs-stepper-circle{
  background-color: #01c301;
}

.bs-stepper .line, .bs-stepper-line{
  flex: 1 0 16px;
}

.bs-stepper-circle{
  line-height: 1.5em;
}

.done .bs-stepper-circle .bi{
  font-size: 1.5em;
}

.done .bs-stepper-circle{
  line-height: 1.5em;
  padding: .25em 0;
}

.bs-stepper .step-trigger{
  padding: 0px 0px 0px 0px !important;
}

.container-fluid{
  margin-bottom: 32px;
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/*Added for accessibility */
.invisibleOL {
  list-style: none;
  padding-left: 0;
}
/*
  This is needed "ETS-405 : Change (specific) bold text in heading"
  H1 Tags should be used for accessibilty of titles 
*/
.card-header > h1 {
   all: unset;
}
